errors.txt
log.txt
game/images/sprites/*.png~
game/cache/
game/saves/
game/*.rpyc
project.json
traceback.txt
.vscode/*
game/*.bak
android.keystore
bundle.keystore
android.json
progressive_download.txt
